<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>STUDENT INFORMATION SYSTEM</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            margin: 2px;
            background-color: rgb(196, 174, 174);

        }
        .menu{
            display: flex;
            justify-content: space-around;
            background-color: blueviolet;
        }
        .menu a{
            font-size: 20px;
            font-weight: bolder;
            color: white;
        }

    </style>
</head>
<body>
    {{!-- <img src="D:\Interview Projects\NODEMYSQL_PROJECT\statics\pexels-pixabay-261909.jpg"> --}}
    <h1 style="text-align: center;">STUDENT INFORMATION SYSTEM</h1>
    <div class="menu">
<a href="/addd">ADD STUDENT</a>
<a href="/search">SEARCH STUDENT</a>
<a href="/update">UPDATE STUDENT</a>
<a href="/delete">DELETE STUDENT</a>
<a href="/view">VIEW STUDENT</a>
ADD STUDEN



    </div>
    
<div style="width: 100%; height:500px; padding-top:20px;">

        <div class="card" >
  <div class="card-body" style="height: 550px;">
    <h5 class="card-title">What Is A Student Information System (SIS)? </h5>
    {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
    <p class="card-text">A Student Information System, or SIS, is a web-based platform that helps schools and colleges take student data online for easier management and better clarity. That's at its most basic. 

The SIS system is able to collect school-wide data online so that it can be easily accessed by teachers, parents, students, and administrators. That includes personal student information, grades, records of tests, attendance, appraisal performance, and plenty more. 

Essentially, a SIS allows the school to make data points for lots of areas in one place so that it's easy to keep track of progress and performance.</p>

 <p class="card-text">To be clear, it's an SIS we're talking about here, which can also break down into a Student Management System (SMS), Student Information Management System (SIMS), or Student Records System (SRS) - all created to help keep records digitally.

These systems can be used within a school for student data or information on the school as a whole. But the platforms can also be used to manage multiple institutions district-wide, say, to get a clearer view of how schools compare on very specific metrics.

The key with an SIS, over a more traditional WebCT, SCT Campus Pipeline, Jetspeed, or Blackboard, is that this online platform allows data that might otherwise be spread across multiple locations to be available in one easily accessible place.</p>


 <p class="card-text">The Student Information System is a resource that offers a self-service solution for students to get their administrative tasks done in one place. Equally, it is can support faculty and staff by helping to simplify and integrate work processes.

Since the SIS can be used as a digital dropbox, it's ideal for parents who want to access information on their child, communicate with the school, and even make payments. The ability to standardize data formats between divisions means a more unified and clear data readout at a glance, ultimately saving time. Data integrity, privacy, and security can all be protected in an open-access environment.

When it comes to student records, an SIS offers high efficiency as all data is automatically organized and stored for easy access whenever it is needed. 

Since the platform is cloud-based, is can be reconfigured as needed to make sure it grows with an institution. Most SIS offer open interfaces and integration with other campus applications and database systems, making for ease of use. 

Information storage is what an SIS does at its most basic. That means records consolidated all in one place for students, teachers, and parents to access. Reports can be created on anything, from how many students are local to what GPA is in any given class.

In the case of K-12, there are parent specific portals that allow guardians to access information on their student. This allows them to see attendance, academic planning, behavior, and more, as well as to communicate with teachers. At universities this is useful in a similar way to allow students and lecturers communicate privately. 

Administration for students is made easier with a Student Information System. Monitoring student progress and updating profiles often happens in real time. </p>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="100" style="width: 1500px; height:500px;">
      <img src="D:\Interview Projects\NODEMYSQL_PROJECT\statics\pexels-buro-millennial-1438072.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="D:\Interview Projects\NODEMYSQL_PROJECT\statics\pexels-pixabay-261909.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="D:\Interview Projects\NODEMYSQL_PROJECT\statics\pexels-stanley-morales-1454360.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
</div>
</div>









  



</body>
</html>